<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="metadataToolDefaults"
             type="CedarLogic.Identity.Configuration.FederationMetadataSection, FedMetadataTool" />
  </configSections>
  
  <metadataToolDefaults>
    <claimTypes>
      <add name="Issuer"
           namespace="http://schemas.xmlsoap.org/claim/Issuer" />
      <add name="Email"
           namespace="http://schemas.xmlsoap.org/claim/Email" />
      <add name="FirstName"
           namespace="http://schemas.xmlsoap.org/claim/FirstName" />
      <add name="LastName"
           namespace="http://schemas.xmlsoap.org/claim/LastName" />
      <add name="CostCenter"
           namespace="http://schemas.xmlsoap.org/claim/CostCenter" />
      <add name="Phone"
           namespace="http://schemas.xmlsoap.org/claim/Phone" />
    </claimTypes>
    <protocolSupport>
      <add name="WsTrustNs"
           namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" />
      <add name="WsTrustSoapNs"
           namespace="http://schemas.xmlsoap.org/ws/2005/02/trust" />
      <add name="WsTrustNs"
           namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" />
    </protocolSupport>
  </metadataToolDefaults>
</configuration>